.wrapper {
    width: 1440px;
    margin: 0px auto;
}

p, h2, a {
    font-family: Poppins;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header .logo_info {
    display: flex;
}

.header .logo img {
    width: 134px;
}

.header p {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #0078D7;
    margin-top: 29px;
    margin-left: 40px
}

.butt {
    padding: 0px 20px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.header .butt.butt_blue {
    background: #0078D7;
}

.slider {
    height: 400px;
}

.slide {
    height: 400px;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.slide_1 {
    background: url('../img/slide1.jpg') no-repeat;
    backgorund-size: 100%
}

.slide_2 {
    background: url('../img/slide2.jpg') no-repeat;
    backgorund-size: 100%
}

.slide_3 {
    background: url('../img/slide3.jpg') no-repeat;
    backgorund-size: 100%
}

.slide_4 {
    background: url('../img/slide4.jpg') no-repeat;
    backgorund-size: 100%
}

.slide_5 {
    background: url('../img/slide5.jpg') no-repeat;
    backgorund-size: 100%
}

.slider .slide h2 {
    color: white;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 10px;
}

.slider .slide p {
    color: white;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 0px;
}

.slider .slide button {
    display: inline-block;
    color: #0078D7
}

.slick-list {
    position: relative;
    z-index: 1000;
}

.slick-dots {
    position: absolute;
    bottom: 25px;
    z-index: 3000;
}

.slick-dots button {
    color: white;
}

.slick-prev {
    left: 25px;
    z-index: 3000
}

.slick-next {
    right: 25px;
    z-index: 4000
}

.main {
    margin-top: 69px;
    margin-left: 157px;
    display: flex;
}

.main .left_side .text {
    posirion: relative;
}

.main .left_side .text p {
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 40px;
    position: relative;
}

.main .left_side .text p:before {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 8px;
    background: #0079d8;
    border-radius: 20px;
}

.places {
    margin: 50px 0px;
}

.places img {
    display: block;
    margin-bottom: 10px;
}

.feedback p {
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

form {
    font-size: 0px
}

form .email {
    height: 50px;
    width: 440px;
    padding: 0px;
    margin: 0px;
    padding-left: 20px;
    box-sizing: border-box;
    vertical-align: top;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
}

form .submit {
    height: 50px;
    padding: 5px 30px;
    line-height: 40px;
    box-sizing: border-box;
    background: #0079d8;
    text-transform: uppercase;
    border: 1px solid #0079d8;
    color: white;
    border-radius: 5px;
}

form .submit:hover {
    background: #00579b;
    border: 1px solid #00579b;
}

.right_side .notebook {
    display: inline-block;
    width: 460px;
    height: 245px;
    background: url('../img/comp.png') no-repeat;
    cursor: pointer;
}

.right_side p {
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
}

footer {
    margin-top: 100px
}

footer .grey_box {
    display: flex;
    align-items: flex-end;
    background: #f3efef;
    padding: 30px 40px
}

footer .grey_box .logo img {
    width: 120px;
}

footer .grey_box p {
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 0px
}
footer .black_line {
    background: black;
    display: flex;
    justify-content: space-between;
}
footer .black_line  .pay_link{
    display: flex;
    margin-left: 40px;
}
footer .black_line  .pay_link a {
    margin-right: 10px;
    width: 40px;
    height: 25px;
    background: white;
    margin-top: 18px
}
footer .black_line  .pay_link a:first-child {
    background:white url('../img/visa.png') 3px no-repeat;
    background-size: 80%
}
footer .black_line  .pay_link a:nth-child(2) {
    background:white url('../img/master.png') 3px no-repeat;
    background-size: 80%
}
footer .black_line  .pay_link a:nth-child(3){
    background:white url('../img/paypal.png') 3px no-repeat;
    background-size: 90%
}
footer .black_line  .pay_link a:nth-child(4) {
    background:white url('../img/bitcoin.png') 7px no-repeat;
    background-size: 60%
}
footer .black_line .butt_red {
    color: white;
    background: red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px; 
}
.bottom_box {
    background: #f3efef;
    padding: 40px;
}
.bottom_box p {
    margin: 0px;
}
@media (max-width: 1439px) {
    .wrapper {
    width: 100%;
    margin: 0px auto;
}
.header {
    flex-flow: column wrap;
}
.logo_info {
    flex-flow: column wrap;
}
.logo_info p {
    margin-left: 0px;
}
.main {
    margin-top: 69px;
    margin-left: 0px;
    display: flex;
    flex-flow: column wrap;
}
.left_side {
    width: auto;
}
form .email {

    width: 63%;
    margin-bottom: 30px;
  
}
footer {
    width: 100%;
}
footer .grey_box {

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
footer .grey_box p {
   
    margin-left: 0px;

}
.main .left_side .text p {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 40px;
    position: relative;
}
.feedback p {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}
.right_side .notebook {
    display: inline-block;
    width: 100%;
    height: 245px;
    background: url(../img/comp.png) no-repeat;
    background-size: 100%;
    cursor: pointer;
}
footer .black_line .butt_red {
    color: white;
    background: red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    display: none;
}
footer .black_line .pay_link a {
    margin-right: 10px;
    width: 40px;
    height: 25px;
    background: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

}